{% load static %}
<!DOCTYPE html>
<html>

<head>
	<title>Registration </title>

	<style>
		body {
			background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
			url("{% static '/img/l1.jpg'  %}");
			height: 100vh;
			background-size: cover;
			background-position: center;
		}

		.lay {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	</style>
	<script>
		function showPass() {
			var pass = document.getElementById('pass');
			if (document.getElementById('check').checked) {
				pass.setAttribute('type', 'text');
			} else {
				pass.setAttribute('type', 'password');
			}
		}
	</script>


	{% if request.user.is_authenticated %}
		<p> Hello, {{ request.user.email  }} | <a href="{% url 'account-logout'  %}"> LOGOUT </a> </p>

	{% else %}

	{% endif %}




</head>

<body background-image="l1.jpg">

	<center><h1>Login</h1></center>

	<form class="fossil" method="post">
		<div class="lay">
			<center>
				<div >
					<label>Username</label>&nbsp;
					<input type="text" name="username" required><br><br>
				</div>

				<div class="input-group">
					<label>Password</label>&nbsp;&nbsp;
					<input type="password" name="password" id="pass" / required><br><br>
					<input type="checkbox" id="check" onclick="showPass();"/>Show Password<br><br>
				</div>
				<div class="input-group">
					<button type="submit" name="submit" value="submit">Login</button>
				</div>

				<p>
					Forgot Password? <a href="register.php">Sign up</a>
				</p>
				<h3><a href="index.html" style="text-decoration: none">Back to Home</a></h3>
		</div>

		</center>
	</form>


</body>

</html>